<% include partials/header.ejs %>
<% include partials/topnavbar.ejs %>

<div id="wrapper">
    <h1>WELCOME TO MY <%=title %> PAGE</h1>
    <section id="about">
    
        <P>Hello! My name is Brandon I am a student at Ontario Tech University
        who is currently studying Networking and IT Security! I am in my second
        year and hope to work in cybersecurity after University. I like football,
        music and coding!
        </P>

    </section>
  
    <div id="left-column">
        <img src="/Assests/MyPhoto.JPEG" alt="Photo of Me">

    </div>
    <div id="right-column">
        <video width="420" height="320" controls poster="/Assets/posterimg.jpg">
            <source src="/Assets/MyIntroVid.mp4" type="video/mp4">
            </video>
    </div>
    
</div>







<% include partials/bottomnavbar.ejs %>
<% include partials/footer.ejs %>