<% include partials/header.ejs %>
<% include partials/topnavbar.ejs %>

<div id="wrapper">
    <h1>WELCOME TO MY <%=title %> PAGE</h1>
    <div id="left-column">
        <h3>Project 1 - Calculator</h3>
            <P>This project consisted of developing a calculator that could do a number
                of computations from addition to exponents. This project was fun to develop
                and also helped aid my programming skills greatly.
            </P>

    </div>
    <div id="right-column">
        <h3>Project 2 - Word Processor</h3>
            <P>This project consisted of developing a word processor that could be used to type
                out a variety of documents and then save them to a file. You could also use bolding,
                italic and underlining styles in the word processor. This was a challenging project but 
                really rewarding when I finished the project.
            </P>
    </div>







<% include partials/bottomnavbar.ejs %>
<% include partials/footer.ejs %>