<% include partials/header.ejs %>
<% include partials/topnavbar.ejs %>

<div id="wrapper">
  <h1>WELCOME TO MY <%=title %> PAGE</h1>
  <section id="home">
    


  </section>
  <div id="left-column">

  </div>
  <div id="right-column">
            
  </div>
</div>







<% include partials/bottomnavbar.ejs %>
<% include partials/footer.ejs %>

  

